@using Blazored.LocalStorage;
@inherits LayoutComponentBase

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        <AuthorizeView>
            <Authorized>
                <MudText Typo="Typo.caption" Align="Align.Center">@(context.User.Claims.FirstOrDefault(b => b.Type == ClaimTypes.Email)?.Value)</MudText>
                </Authorized>
            </AuthorizeView>
            <img src="images/header.png" style="max-height: 100%;" />
        </MudAppBar>
        <MudDrawer ClipMode="DrawerClipMode.Docked" @bind-Open="_drawerOpen" Variant="@DrawerVariant.Persistent" Elevation="2" Color="Color.Primary">


            @if (Administrations != null && Administrations.Success)
        {
            <MudPaper Class="pa-2">

                <MudAutocomplete T="AdministrationCollectionItem"
                @ref="AdminstrationAutocomplete"
                                 SearchFunc="SearchAdministration"
                @bind-Value="SelectedAdministration"
                @bind-Value:after="SelectedAdministrationChanged"
                                 Label="Andere administratie"
                                 Class="mb-1 mt-0 pa-0" Style="background-color:var(--mud-palette-background)"
                                 CoerceValue=true
                                 ToStringFunc="@(e=> string.IsNullOrWhiteSpace(e.AdministrationRegistryCode) ? $"{e.Name}" : $"({e.AdministrationRegistryCode}) - {e.Name}")">
                </MudAutocomplete>
            </MudPaper>
        }
        @if (CurrentAdministration != null)
        {
            <MudPaper Class="pa-2" Style="background-color:var(--mud-palette-primary-lighten);color:var(--mud-palette-primary-text) !important;text-align:center">
                @if (!string.IsNullOrWhiteSpace(CurrentAdministration.ImageFileName))
                {
                    <div style="width:100%;display: flex;justify-content: center;">
                        <MudImage Height="64" Src="@("https://localhost:7058/filestore/images/" +CurrentAdministration.ImageFileName)"
                                  Class="rounded-lg ma-4" ObjectFit="ObjectFit.ScaleDown" />
                    </div>
                }
                <MudText Typo="Typo.subtitle1">@CurrentAdministration.Name</MudText>
                @if (!string.IsNullOrWhiteSpace(CurrentAdministration.AdministrationRegistryCode))
                {
                    <MudText Typo="Typo.caption">Kvk: @CurrentAdministration.AdministrationRegistryCode</MudText>
                }

            </MudPaper>
        }

        <AuthorizeView Roles="Admin">
            <Authorized>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Contacts" Href="/administrations" IconColor="Color.Inherit">Administraties</MudNavLink>
            </Authorized>
        </AuthorizeView>
        @if (CurrentAdministration != null)
        {
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Receipt" Href="/transactions" IconColor="Color.Inherit">Transacties</MudNavLink>
        }
        <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.ManageAccounts" Href="/account" IconColor="Color.Inherit">Account</MudNavLink>
        <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Logout" OnClick="LogOff" IconColor="Color.Inherit">Uitloggen</MudNavLink>
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>


<MudThemeProvider Theme="@DefaultTheme" />
<MudDialogProvider />
<MudSnackbarProvider />